body {
    font-family: arial, Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    line-height: 45px;
}

h1 span {
    color: blueviolet;
}

.box {
    width: 400px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
}

.box .box-img {
    transform: rotateY(0);    
    transition: all 0.5s ease-in-out 0s;
}

.box:hover .box-img {
    transform: rotateY(-90deg);
}

.box .box-img img {
    width: 100%;
    height: auto;

}

.box-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 20px;
    border: 1px solid red;
    box-sizing: border-box;
    text-align: center;
    color: rgb(13, 247, 255);
    background: rgba(12, 3, 136, 0.7);
    transform: rotateY(90deg);
    transition: all 0.5s ease-in-out 0s;

}

.box-content img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
}

.box:hover .box-content {
    transform: rotateY(0)
}

.icon-list {
    display: flex;
    justify-content: center;
    align-items: center;


}
.icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out 0s;
    
}
